extends ../layout

block content
  .row#huiyuan
    .col-md-5.col-md-offset-1
      .panel.panel-default
        .panel-heading 免费 (十天一续)
        .panel-body
          include free
    .col-md-5
      .panel.panel-success
        .panel-heading 收费 (&nbsp;10&nbsp;RMB/年)
        .panel-body
          include pay

  include availRecord
