extends ../layout

block content
  .container.feePlan
    
    br
    .row
      .col-md-offset-1.col-md-10
        .panel.panel-default
          .panel-heading
            //- a(href="#").btn.btn-default.pull-right.text-right 对比
            .row
              .col-md-4
                p.pull-right 账号: #{accountId} &nbsp;&nbsp;&nbsp; (#{user.email && user.email})
          .panel-body
            block members-content
              .row
                ul.nav.nav-tabs.nav-justified#huiyuan
                  li(huiyuantype="free").active
                    a(href="#") 免费
                  li(huiyuantype="pay")
                    a(href="#") 付费
              br
              
              .row.feeContent
                include free
                include pay             

  include availRecord

  br
  br
  br
  br
