.col-md-12#pay
  form(action="/members/pay", method="post", target='_blank')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type="hidden", name="feeType", value="baijin")
    br
    .row
      .col-md-4
        p.pull-right 开通流量包类型:
      .col-md-8
        p 付费流量包 (不限量转发)
    br
    .row
      .col-md-4
        p.pull-right 应付金额:
      .col-md-8
        p.shouldPay 10元(每年10元)
        p.duration
    br
    .row
      .col-md-4
        p.pull-right 开通时长:
      .col-md-8
        .form-inline
          .form-group
            .input-group
              .input-group-addon
                label 购买
              input.form-control(type="number", min="1", max="36", value="1", name="count")
              .input-group-addon
                label 年
    br
    .row
      .col-md-4
        p.pull-right 支付:
      .col-md-8
        .row
          .col-md-5
            button(type="submit").btn.btn-default 支付宝

          .col-md-offset-1.col-md-5.hidden
            .btn-group.btn-group-justified
              a(href="#").btn.btn-success.has-error Paypal
