doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="robots", content="all, follow")
    meta(name='csrf-token', content=_csrf)
    meta(name='keywords', content='域名邮件转发,垃圾邮件过滤,邮件服务器,10元域名邮箱,自定义电子邮件地址')
    meta(name='description', content='将任意自定义的域名邮件地址转发到你自己的邮箱, 过滤被采集了的邮件地址')

    title 域名邮箱, 过滤被采集的邮件地址 - SoManyAD
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/somanyad.css')
    include partials/favicon
    include partials/head

  body
    block header
      include partials/header

    block flash
      include partials/flash
    .container
      block content
    block footer
      include partials/footer

    block footer-js
      script(src='/js/lib/jquery.min.js')
      script(src='/js/lib/bootstrap.min.js')
      script(src='/bowerlib/moment/min/moment.min.js')
      script(src='/bowerlib/Chart.js/Chart.min.js')
      script(src='/js/freelancer/freelancer.js')
      script(src='/js/main.js')

      // Google Analytics: change UA-XXXXX-X to be your site's ID
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69813502-1', 'auto');
        ga('send', 'pageview');
        ga('set', '&uid', '#{user && user._id}');
