extends ../../layout

block content

  .container
    if passVerify
      .row
        .col-md-6
          p #{__("你好, 你的邮件地址%s已经验证", email)}
    else
      .row
        .col-md-6
          p #{__("抱歉, 验证链接不正确, 请重新发送链接, 或者联系管理员")}
