extends ../../layout

block content
  .container
    .row
      ul.nav.nav-tabs
        li(role="presentation" class=active_item=="home" ? "active": "")
          a(href="/domains/") 首页
        for domain in domains
          li(role="presentation" class=active_item==domain.domain ? "active": "")
            a(href="/domains/edit?domain=" + domain.domain) #{domain.domain}
        li(role="presentation" class="")
          a(href="/domains/addNewDomain")
            img(src="https://res.mail.qq.com/zh_CN/htmledition/images/domainmail/ico_add.gif")
            
  block domains-content
