extends index

block domains-content
  .row
    .col-sm-8
      h2 Add Your Domain
      form(action="/domains/addNewDomain", method="post")
        input(type='hidden', name='_csrf', value=_csrf)
        .input-group
          input.form-control(type="text", placeholder="mydomain.com", name="domain")
          span.input-group-btn
            button.btn.btn-success(type="submit") Add Domain
            a.btn.btn-warning(href="/domains/") Cancel
