extends ../layout

block content
  br
  .row
    .col-md-3
      ul.nav.nav-pills.nav-stacked
        li(class=active_item=="domains" ? "active": "")
          a(href="/domains/") Domains
        li(class=active_item=="emails" ? "active": "")
          a(href="/domains/emails") Emails
        li(class=active_item=="forward" ? "active": "")
          a(href="/domains/forward") Forward
        li(class=active_item=="tongji" ? "active": "")
          a(href="/domains/tongji") Tracking
    .col-md-9
      ul.breadcrumb
        li
          a(href="#") Home
        li.active Domains
          
      block domains-content
