extends index

block domains-content

  h3 第一步：给您的域名设置一个CNAME记录
  
  table.table.table-striped.table-hover
    thead
      tr
        th 类型 Type
        th 子域名 Hostname
        th 指向
      tr
        th CNAME
        th #{cname}
        th #{cnamePointTo}
        
  h3 第二步：设置MX记录
        
  table.table.table-striped.table-hover
    thead
      tr
        th 类型 Type
        th 优先级 Priority
        th 指向
    tbody
      for mailServer in mailServers
        tr
          td MX
          td 10
          td #{mailServer}
  
  a(href='/domains/newDomainSetup2?domain=#{domain}').btn.btn-success 下一步 
    i.fa.fa-arrow-right
